$white: #F6F4F3
$pink: #d4695d
$background: #18B19D

html
    min-height: 100%

body
    background: #18B19D url(../image/backgroundxxxhdpi.png)
    background-size: 130%
    margin: 0px

.marquee
    background-color: $pink
    color: $white
    margin: 0 auto
    width: 100%
    height: 30px
    white-space: nowrap
    overflow: hidden
    position: relative

    &::before, &::after
        position: absolute
        top: 0
        width: 0px
        height: 30px
        content: ""
        z-index: 1

    &::before
        left: 0
        background: linear-gradient(to right, #ccc 10%, transparent 80%)

    &::after
        right: 0
        background: linear-gradient(to left, #ccc 10%, transparent 80%)

    &__content
        width: 1000%
        display: flex
        line-height: 30px
        animation: marquee 50s linear infinite forwards

        .list-inline
            display: flex
            justify-content: space-around
            width: 100%
            /* reset list */
            list-style: none
            padding: 0
            margin: 0

@keyframes marquee
    0%
        transform: translateX(0)

    100%
        transform: translateX(-66.6%)

.container
    width: 50%
    margin: 0 auto
    font-size: 20px

#title
    width: 100%
    height: 49vh
    position: relative

    .txt
        width: 50vw
        top: 12vh
        position: absolute
        display: block
        text-align: center
        font-size: 2.2rem
        font-weight: bold
        color: $white
        z-index: 1

    .line-top
        width: 50vw
        height: .15rem
        top: 15vh
        position: absolute
        z-index: 0

    img
        width: 50vw
        top: 8vh
        position: absolute
        z-index: 2

#timer
    width: 100%
    height: 10vh
    color: $white
    padding: 0px
    margin: 0px
    position: relative
    text-align: center

    li.time-unit
        display: inline-block
        font-size: 2.2rem
        text-align: center

    .days, .hours, .minutes, .seconds
        min-width: 4rem
        height: 4rem
        padding: 1px 14px 2px 14px
        text-align: center
        font-size: 3rem
        font-weight: bold
        border-radius: 10px
        background: $white
        color: $pink
        display: inline-block

#footer
    position: relative
    width: 100%
    height: 20vh

    .line-bottom
        width: 50vw
        height: .2rem
        padding-top: 32px
        position: absolute

    .pig-img
        width: 75%
        left: -5%
        padding-top: 10px
        position: absolute

    .share
        color: $white
        float: right
        font-size: 1.5rem
        font-weight: bold
        padding-top: 100px
        text-align: right
        z-index: 2
        a
            color: $white
            &:hover
                cursor: pointer
        img
            padding: 10px 1.5px
            width: 5.5%

@media only screen and (max-width: 1400px)
    #timer
        li.time-unit
            font-size: 2rem
            padding-top: 20px

        .days, .hours, .minutes, .seconds
            font-size: 2.2rem
            height: 2.6rem
            padding: 0px 5px 3px 5px

@media only screen and (max-width: 1200px)
    #title
        height: 40vh
        img
            top: 10vh
    #footer
        .share
            font-size: 1.2rem

    #timer
        li.time-unit
            font-size: 2rem
            padding-top: 20px

        .days, .hours, .minutes, .seconds
            font-size: 1.5rem
            min-width: 1.8rem
            height: 2rem

@media only screen and (max-width: 1000px)
    .marquee
        .marquee__content
            width: 2500%

    #timer
        li.time-unit
            font-size: 1.4rem
            padding-top: 20px

        .days, .hours, .minutes, .seconds
            font-size: 1.5rem
            min-width: 2rem
            height: 2rem
            padding: 1px 5px 2px 3px

    #footer
        .pig-img
            width: 70%
        .share
            font-size: 1.1rem

@media only screen and (max-width: 768px)
    .marquee
        .marquee__content
            width: 1500%

    .container
        width: 95%
        margin: 0 auto
        padding: 0 auto

    #title
        .txt
            top: 6vh
            width: 100%
            font-size: 1rem

        .line-top
            width: 100%
            height: 1px
            top: 7.5vh
        img
            width: 100%
            top: 4.5vh
    #timer
        width: 100%
        height: 7vh
        li.time-unit
            font-size: 1.8rem
            padding-top: 5px

        .days, .hours, .minutes, .seconds
            font-size: 2rem
            height: 3rem
            padding: 1px 5px 2px 5px
            border-radius: 8px

    #footer
        width: 100%

        .line-bottom
            width: 100%
            height: 1px
            padding-top: 0px
            position: relative

        .pig-img
            width: 100%
            padding-top: 30px
            left: 0%
            position: relative

        .share
            width: 100%
            text-align: center
            padding-top: 0px
            font-size: 1.5rem
            img
                width: 10%

@media only screen and (max-width: 480px)
    #title
        height: 29vh
    #timer
        width: 100%
        li.time-unit
            font-size: 1.5rem

        .days, .hours, .minutes, .seconds
            font-size: 1.8rem
            height: 2.3rem
            padding: 1px 3px 2px 2px
            border-radius: 6px

@media only screen and (max-width: 380px)
    #title
        height: 26vh
        img
            top: 7vh
    #timer
        width: 100%
        height: 30px

        li.time-unit
            font-size: 1rem

        .days, .hours, .minutes, .seconds
            font-size: 1rem
            height: 1.5rem
            padding: 1px 0px 2px 0px
            border-radius: 8px

    #footer
        .line-bottom
            padding-top: 0px
        .share
            font-size: 1rem
            img
                width: 10%
