$white: #F6F4F3
$pink: #D87368
$background: #18B19D


html
    min-height: 100%

body
    background: #18B19D url(../image/backgroundxxxhdpi.png)
    background-size: 130%
    margin: 0px

marquee
    height: 1.8em
    padding-top: .3em
    background-color: $pink
    color: $white
    font-size: 1.1rem

.container
    width: 50%
    margin: 0 auto
    font-size: 20px

#title
    width: 100%
    height: 49vh
    position: relative

    .txt
        width: 50vw
        top: 12vh
        position: absolute
        display: block
        text-align: center
        font-size: 2.2rem
        font-weight: bold
        color: $white
        z-index: 1

    .line-top
        width: 50vw
        height: .15rem
        top: 15vh
        position: absolute
        z-index: 0

    img
        width: 50vw
        top: 8vh
        position: absolute
        z-index: 2

#timer
    width: 100%
    height: 8vh
    color: $white
    padding: 0px
    margin: 0px
    position: relative
    text-align: center

    li.time-unit
        display: inline-block
        font-size: 2.6rem
        text-align: center

    .days, .hours, .minutes, .seconds
        min-width: 4rem
        height: 4rem
        padding: 1px 14px 2px 14px
        text-align: center
        font-size: 3rem
        font-weight: bold
        border-radius: 10px
        background: $white
        color: $pink
        display: inline-block

#footer
    position: relative
    width: 100%
    height: 20vh

    .line-bottom
        width: 50vw
        height: .2rem
        padding-top: 32px
        position: absolute

    .pig-img
        width: 75%
        left: -5%
        padding-top: 10px
        position: absolute

    .share
        color: $white
        float: right
        font-size: 1.5rem
        font-weight: bold
        padding-top: 100px
        text-align: right
        a
            color: $white
        img
            padding: 10px 1.5px
            width: 5.5%


@media only screen and (max-width: 1400px)
    #title
        height: 40vh

@media only screen and (max-width: 1200px)
    #title
        height: 38vh
        img
            top: 10vh
    #footer
        .share
            font-size: 1.2rem

    #timer
        li.time-unit
            font-size: 2rem
            padding-top: 20px
            
        .days, .hours, .minutes, .seconds
            font-size: 1.5rem
            min-width: 1.8rem
            height: 2rem

    
@media only screen and (max-width: 1000px)
    #timer
        li.time-unit
            font-size: 1.5rem
            padding-top: 20px
            
        .days, .hours, .minutes, .seconds
            font-size: 1.5rem
            min-width: 2rem
            height: 2rem

    #footer
        .share
            font-size: 1.1rem